*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  position: relative;
  /* transition: 0.3s */
}
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0B1D26;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #143546;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.App{
  width: 100%;
  height: auto;
}
body{
  background: #0B1D26;
}